@font-face {
  font-family: "Comfortaa";
  src: url("./assets/fonts/Comfortaa.ttf");
}

@font-face {
  font-family: "FiraCode";
  src: url("./assets/fonts/FiraCode.ttf");
}

@font-face {
  font-family: "Maloney";
  src: url("./assets/fonts/Maloney.ttf");
}

@font-face {
  font-family: "Dunley";
  src: url("./assets/fonts/Dunley.otf");
}

/* #087e8b */

body,
html {
  margin: 0;
  scroll-behavior: smooth;
}
* {
  /* box-sizing: border-box; */
}
body {
  background-color: darkslategray;
  overflow-x: hidden;
  /* padding-bottom: 20vh; */
}

/* width */
::-webkit-scrollbar {
  width: 20px;
  background-color: #07636d;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgb(0, 17, 41);
  /* border-radius: 10px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #64afed;
  /* border-radius: 10px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 121, 213);
}

div.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* fr means fraction, each one represents a fraction of the page */
}

nav {
  /* background-color: rgba(8, 126, 139); */
  background-color: #242424;
  /* background-color: darkslateblue; */
  box-shadow: 0 4px 10px -4px black;
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: right;
  position: fixed;
  left: 0%;
  top: 0%;
  z-index: 2;
}

nav > a {
  width: 8%;
}

a {
  text-decoration: none;
  text-align: center;
  color: whitesmoke;
  /* color: coral; */
  font-family: "Comfortaa", sans-serif;
  display: inline-block;
}

p {
  font-family: "Comfortaa", sans-serif;
  color: whitesmoke;
}

h1 {
  font-family: "Comfortaa", sans-serif;
  color: whitesmoke;
}

h2 {
  font-family: "Comfortaa", sans-serif;
  color: whitesmoke;
}

button {
  font-family: "Comfortaa", sans-serif;
  color: whitesmoke;
}

span {
  font-family: "Comfortaa", sans-serif;
  color: whitesmoke;
}

i {
  color: whitesmoke;
}

.intro-banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 95vh;
  font-size: 1.5vw;
  /* padding-top: 25vh; */
  /* padding-left: 15vw; */
  /* padding-right: 15vw; */
  line-height: 4vw;
}

.welcome-text {
  padding-top: 35vh;
  padding-left: 15vw;
}

.welcome-text > h1 {
  /* animation: enterSlideDown 2s ease-out forwards; */
  margin: 0;
}

#personalities-span {
  font-family: "FiraCode", monospace;
  color: yellow;
  font-size: 3.5vw;
  padding-top: 75rem;
  /* animation: enterSlideRight 2s ease-out forwards; */
}

a.grow {
  transition: transform 0.3s;
}

a.grow:hover {
  transform: scale(1.3);
}

a.image-grow {
  transition: transform 0.6s;
  transform-origin: center center;
}

a.image-grow:hover {
  transform: scale(1.05);
}

a.link-grow {
  transition: transform 0.3s;
}

a.link-grow:hover {
  transform: scale(1.2);
}

#search-wrapper {
  text-align: center;
}
#project-list {
  text-align: center;
}
#project-list > a {
  display: block;
}

.project-wrapper {
  width: 70%;
  max-height: 70vh;
  background-color: rgb(25, 41, 41);
  box-shadow: 0rem 0.3rem 0.3rem 0.2rem black;
  margin: auto;
  margin-bottom: 15vh;
  border-radius: 3vw;
  padding-top: 1rem;
}

.project-title {
  margin-left: 5vw;
  font-weight: bold;
  color: #6bb6f5;
  font-size: 1.15vw;
}

.project-title > h1 {
  display: inline-block;
}

.award-icon-wrapper {
  width: 15%;
  float: right;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 1.5vw;
  margin-right: 2rem;
  transition: transform 0.5s;
  transform-origin: right;
}

.award-icon-wrapper > i {
  font-size: 2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.award-icon-wrapper:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.project-image {
  margin: auto;
  padding-left: 3vw;
  padding-right: 2vw;
  padding-bottom: 1vw;
  /* height: 100%; */
}

.code-project-cover-image {
  width: 90%;
  /* height: 30vh; */
  border: 0.7rem solid white;
  border-radius: 1rem;
  box-shadow: -1vw 1vw 0.5vw 0.5vw rgba(0, 0, 0, 0.5);
}

.gd-project-cover-image {
  width: 60%;
  margin-left: 1.5vw;
  /* height: 30vh; */
  border: 0.7rem solid white;
  border-radius: 1rem;
  box-shadow: -1vw 1vw 0.5vw 0.5vw rgba(0, 0, 0, 0.5);
}

.project-desc {
  padding-left: 2vw;
  padding-right: 3vw;
  padding-bottom: 1vw;
  line-height: 2rem;
}

.project-desc > h1 {
  text-align: center;
  line-height: 3vh;
  margin-bottom: 3vh;
  font-size: 1.5vw;
}
.project-desc > p,
.project-desc > span {
  text-align: center;
  font-size: 1.05vw;
  display: inline;
  line-height: 1.5v;
}
.project-link {
  text-align: center;
  padding-bottom: 3vw;
  font-size: 1.25rem;
}
.project-package-div {
  text-align: center;
  max-height: 10vh;
  font-size: 1.25rem;
  margin-top: 1.5vh;
  overflow: hidden;
}
.project-link > a {
  color: #6bb6f5;
  font-size: 1.3rem;
}

.package-header-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.reveal-projects-icon {
  display: inline;
  font-size: 2rem;
  line-height: 2rem;
  margin-left: 1rem;
}

.promo-item-div {
  /* margin: auto; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3vh;
  margin-bottom: 3vh;
  transition: transform 0.5s;
  width: max-content;
  margin-left: 33%;
}

.promo-item-div:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.promo-item-img {
  height: 5vw;
  width: 5vw;
  background-color: white;
  border-radius: 1vw;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 1vw;
}

.promo-item-title {
  margin-left: 1vw;
}

.more-button {
  color: #6bb6f5;
  display: inline;
  line-height: 1.5vh;
  font-size: 1vw;
  background-color: transparent;
  border: none;
  padding-left: 0.5vw;
}

.more-button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.about-link {
  text-decoration: underline;
  display: inline;
  color: #6bb6f5;
  margin: 0;
}

#featured {
  /* background-color: #0b3954; */
  background-color: #192929;
  text-align: center;
  padding: 1vh;
  padding-bottom: 5vh;
  width: 100%;
  height: 70vh;
  position: relative;
  overflow: hidden;
}

#featured > h1 {
  font-size: 1.5vw;
  padding: 1vh;
  margin-bottom: 1vh;
}

#slideshow-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 87%;
  overflow: hidden;
}

.border-grad {
  width: 20%;
  height: 87%;
  position: absolute;
  top: 12%;
}

.left-grad {
  left: 0;
  background-image: linear-gradient(90deg, rgb(25, 41, 41), transparent);
}

.right-grad {
  right: 0;
  background-image: linear-gradient(90deg, transparent, rgb(25, 41, 41));
}

.featured-arrow {
  position: absolute;
  top: 55%;
  font-size: 4vh;
  transition: transform 0.3s;
  z-index: 1;
}

.featured-arrow:hover {
  cursor: pointer;
  transform: scale(1.4);
}

.prev {
  left: 15%;
}

.next {
  right: 15%;
}

.featured-slide {
  width: 50%;
  height: 70%;
  background-color: lightgray;
  border-radius: 2vh;
  transform-origin: center center;
  margin-top: 1.5rem;
  position: absolute;
  top: 16%;
}

.inactive-slide {
  display: none;
}

.slide-title {
  height: 20%;
  border-top: 0.3rem solid lightgray;
  border-left: 0.3rem solid lightgray;
  border-right: 0.3rem solid lightgray;
  border-top-left-radius: 2vh;
  border-top-right-radius: 2vh;
  background-color: #041b29;
  /* padding: 1vh; */
  position: relative;
}

.slide-img-wrapper {
  /* margin: auto; */
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-img {
  /* width: 70%; */
  height: 75%;
  margin: auto;
  /* margin-top: 3vh; */
  border: 0.7rem solid whitesmoke;
  border-radius: 1rem;
  box-shadow: 0 0 0.4rem 0.4rem rgba(0, 0, 0, 0.5);
  user-select: none;
}

.dot {
  width: 2.5vh;
  height: 2.5vh;
  top: 35%;
  position: absolute;
  background-color: red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot > i {
  font-size: 2vh;
  opacity: 0;
  transition: opacity 0.3s;
}

.dot > i:hover {
  opacity: 1;
}

.info-icon {
  position: absolute;
  top: 35%;
  right: 5%;
  font-size: 1.5rem;
  transition: transform 0.3s;
}

.info-icon:hover {
  cursor: pointer;
  transform: scale(1.2);
}

#home-text {
  text-align: center;
  margin: auto;
  width: 90%;
  margin-top: 10vh;
  margin-bottom: 20vh;
  padding: 3rem;
  font-size: 1.3rem;
}

#web-dev {
  font-family: "FiraCode", monospace;
}

#gd {
  font-family: "Dunley";
  font-size: 3rem;
}

#home-text > a {
  font-size: 2rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  margin-top: 1rem;
  background-color: darkslateblue;
  border: 0.25rem solid darkslateblue;
  box-shadow: 0rem 0.3rem 0.3rem 0.2rem black;
  text-align: center;
  border-radius: 5rem;
  padding: 0.75rem;
  transition: transform 0.5s;
  font-weight: 600;
}

footer {
  width: 100%;
  background-color: rgb(25, 41, 41);
  padding: 2rem;
}

footer > p {
  display: inline;
  font-size: 1.4rem;
}

#socials {
  float: right;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: 3rem;
}

.footer-icon {
  width: 10%;
  font-size: 1.6rem;
}

#project-page-header {
  text-align: center;
  margin-top: 10rem;
}

#project-types {
  margin: auto;
  margin-top: 2rem;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.project-page-link {
  margin: 1.5rem;
  width: 25%;
  height: 11rem;
  color: red;
  border-radius: 1.5rem;
  text-align: center;
  padding-bottom: 2rem;
  padding-top: 3rem;
  background-color: #192929;
  /* background-color: darkslateblue; */
  box-shadow: 0rem 0.3rem 0.3rem 0.2rem black;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s;
}

.project-page-icon {
  font-size: 3.5rem;
}

.project-page-link:hover {
  transform: scale(1.2);
  cursor: pointer;
  div {
    i {
      color: #64afed;
      /* color: yellow; */
    }
    h2 {
      color: #64afed;
      /* color: yellow; */
    }
  }
}

.reveal-projects-icon {
  font-size: 2rem;
}

.reveal-projects-icon:hover {
  cursor: pointer;
}

.projects-page-intro {
  width: 60%;
  margin: auto;
  margin-top: 10rem;
  margin-bottom: 5rem;
  text-align: center;
  line-height: 2rem;
}

.projects-page-intro > p > span > a {
  color: #6bb6f5;
  text-decoration: underline;
}

.ctso-container > h1{
  text-align: center;
  margin-bottom: 3rem;
  /* text-decoration: underline; */
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
}

.show-up {
  transform: translateY(100%);
}

.show-right {
  transform: translateX(-100%);
}

.fade-up {
  transform: translateY(0%);
}

.fade-right {
  transform: translateX(0);
}

@keyframes enterSlideDown {
  0% {
    transform: translateY(-25vh);
    opacity: 0;
  }
  100% {
    transform: translateY(3vh);
    opacity: 100;
  }
}
@keyframes enterSlideRight {
  0% {
    transform: translateX(-1vh);
    opacity: 0;
  }
  100% {
    transform: translateX(0vh);
    opacity: 100;
  }
}
@keyframes bounce {
  0% {
    transform: scale(1.4);
  }
  33% {
    transform: scale(0.9);
  }
  66% {
    transform: scale(1.7);
  }
  100% {
    transform: scale(1.4);
  }
}

@keyframes exitLeft {
  0% {
    transform: scale(1) translateX(0);
  }
  100% {
    transform: scale(0.3) translateX(-200vw);
  }
}

@keyframes exitRight {
  0% {
    transform: scale(1) translateX(0);
  }
  100% {
    transform: scale(0.3) translateX(200vw);
  }
}

@keyframes enterLeft {
  0% {
    transform: scale(0.3) translateX(200vw);
  }
  100% {
    transform: scale(1) translateX(0vw);
  }
}

@keyframes enterRight {
  0% {
    transform: scale(0.3) translateX(-200vw);
  }
  100% {
    transform: scale(1) translateX(0vw);
  }
}

@keyframes rotateOpen {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

@keyframes rotateClose {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes revealMore {
  0% {
    /* max-height: 70vh; */
    max-height: max-content;
  }
  100% {
    max-height: 300vh;
  }
}
@keyframes hideMore {
  0% {
    max-height: 300vh;
  }
  100% {
    /* max-height: 70vh; */
    max-height: max-content;
  }
}

@keyframes revealPackage {
  0% {
    max-height: 10vh;
  }
  100% {
    max-height: 100vh;
  }
}
@keyframes hidePackage {
  0% {
    max-height: 100vh;
  }
  100% {
    max-height: 10vh;
  }
}

.modal {
  width: 30vw;
  padding: 2vh;
  font-size: 2.75vh;
  border-radius: 1.5rem;
  /* background-color: darkslategray; */
  background-color: #242424;
}

.modal-info {
  line-height: 3.5vh;
}

.modal-link {
  margin: auto;
  width: 40%;
  text-decoration: none;
  text-align: center;
  background-color: darkslateblue;
  font-weight: 600;
  border-radius: 2rem;
  padding: 1vh;
  display: block;
  transition: color 0.5s, backgroundColor 0.5s, border 0.5s;
}

.modal-more-button {
  line-height: 3.5vh;
  font-size: 2.75vh;
  border: none;
  background-color: transparent;
  color: #6bb6f5;
}

.modal-more-button:hover {
  cursor: pointer;
}

.modal-close {
  transition: color 0.5s;
  float: right;
  font-size: 3vh;
}

.modal-close:hover {
  cursor: pointer;
  color: red;
}
